.bg{
    background-image:url('../images/xS.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 500px;
    border: 1px solid black;
    padding: 20px;
    position: relative;
}
.perfil{
    border-radius: 100%;
    overflow: hidden;
    height: 150px;
    width:150px;
    background: black;
    margin: 20px auto;
    border: 2px #fff solid;
}

.img_perfil{
    width: 100%;
}

.titulo{
    height: 220px;
    width:500px;
}